# IntellijIdea files
big-java.iml
.idea
out

src/opt
src/*-objects/*/*
!src/late-objects/*/p_*
!src/early-objects/*/p_*
!src/early-objects/*/e_*
src/*-objects/*/*_NC
src/*-objects/*/*_NC
!src/late-objects/15-the-java-collections-framework/utils
